# Generated settings:
shareComment="YARG content: song library, playlists, album art. Served read-only by the yarg-song-server container."
shareInclude=""
shareExclude=""
shareUseCache="yes"
shareCachePool="cache"
shareCachePool2=""
shareCOW="auto"
shareAllocator="highwater"
shareSplitLevel=""
shareFloor="0"
shareExport="e"
shareCaseSensitive="auto"
shareSecurity="private"
shareReadList=""
shareWriteList="fatalexception"
shareVolsizelimit=""
shareExportNFS="-"
shareExportNFSFsid="0"
shareSecurityNFS="public"
shareHostListNFS=""
